<div class="col-sm-12">
    <div class="m-subheader p-0 m--margin-top-20">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <div ng-include="'partials/widgets/heading/users-discount.html'"></div>
            </div>
            <div ng-include="'partials/widgets/quick-actions/users-discount.html'"></div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="m-portlet m-portlet--mobile m--margin-top-20">
        <div class="m-portlet__body">

            <!--begin: Search Form -->
            <div ng-include="'partials/widgets/search-bar/users-discount.html'"></div>
            <!--end: Search Form -->

            <!--begin: Datatable -->
            <table class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Member's No</th>
                        <th>Member's Name</th>
                        <th>Gender</th>
                        <th>Discount</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody class="m-datatable__body">

                    <tr dir-paginate="value in data | itemsPerPage:5" total-items="totalItems">
                        <td>{{ value.members_discount_id }} </td>
                        <td>{{ value.stud_no }} </td>
                        <td>{{ value.firstname }} {{ value.middlename }} {{ value.lastname }}</td>
                        <td>{{ value.gender }} </td>
                        <td>{{ value.discount }}</td>
                        <td  class="text-center">
                            <a href="javascript:;" ng-click="edit(value.members_discount_id)" data-toggle="modal" data-target="#edit-user-discount-modal" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="edit this">
                                <i class="la la-edit"></i>                        
                            </a>                        
                            <a href="javascript:;" ng-click="remove(value.members_discount_id, $index)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="remove this">
                                <i class="la la-trash"></i>                       
                            </a>   
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--end: Datatable -->

            <div ng-include="'partials/templates/pagination.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'partials/add/users-discount.html'"></div>
<div ng-include="'partials/edit/users-discount.html'"></div>
