<div class="m-form m-form--label-align-right m--margin-bottom-30">
    <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1">
            <div class="form-group m-form__group row align-items-center">
                <div class="col-md-4">
                    <div class="m-input-icon m-input-icon--left">
                        <input type="text" ng-model="datas.searchText" ng-change="searchDB()" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                        <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span>
                                <i class="la la-search"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
            <a href="javascript:;" ng-click="resetForm()" data-toggle="modal" data-target="#add-product-category-modal" data-backdrop="static" data-keyboard="false" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill theme-bg theme-border">
                <span>
                    <span>
                        Add New Product Category
                    </span>
                </span>
            </a>
            <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
    </div>
</div>