<div class="modal fade" id="edit-checkout-amount-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="POST" name="editAmountForm" id="editAmountForm" role="form" ng-submit="editCheckoutAmount(editAmountForm.$valid)">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-title">
                        Edit Amount Paid
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-2 col-form-label">
                                    Total Amount
                                </label>
                                <div class="col-10">
                                    <input class="form-control m-input m-input--solid" type="text" name="totalPrice" id="totalPrice" disabled="disabled" ng-model="checkout_amount.totalPrice">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-2 col-form-label">
                                    Amount Paid
                                </label>
                                <div class="col-10">
                                    <input required autocomplete="off" class="form-control m-input m-input--solid" type="text" name="totalPaid" id="totalPaid" ng-change="checkAmount()" ng-model="checkout_amount.totalPaid" floating-number-only ng-pattern="/(^[0-9]{1,9})+(\.[0-9]{1,2})?$/">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-2 col-form-label">
                                    Total Change
                                </label>
                                <div class="col-10">
                                    <input class="form-control m-input m-input--solid" type="text" name="totalChange" id="totalChange" disabled="disabled" ng-model="checkout_amount.totalChange">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-2 col-form-label">
                                </label>
                                <div class="col-10">
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value="1">1</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value="2">2</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value="3">3</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value="4">4</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value="5">5</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value="6">6</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1" value="7">7</button>
                                    <button class="btn-commands btn btn-primary-1 m-r-10" value="8">8</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value="9">9</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value="0">0</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value=".">.</button>
                                    <button type="button" ng-click="concat_amount_btn($event)" class="btn-commands btn btn-primary-1 m-r-10" value="clr">CLR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" ng-disabled="editAmountForm.$invalid" class="btn btn-primary-1 m-r-10">
                                Save Changes
                            </button>
                            <button ng-click="resetForm()" type="button" class="btn btn-secondary-2" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>