<div class="modal fade" id="kiosk-checkout-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="POST" name="checkoutForm" id="checkoutForm" role="form" ng-submit="checkOUT(checkoutForm.$valid)">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-title">
                        CHECKOUT ITEMS ({{ checkoutItems }} items)
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="c-white m-b-5">
                                TYPE OF ORDER
                            </label>
                            <div class="m-radio-inline m-b-15">
                                <label class="m-radio c-white">
                                    <input type="radio" name="type" ng-click="order_mode()" ng-checked="true" ng-model="form.type" value="1">
                                    Advance Order
                                    <span></span>
                                </label>
                                <label class="m-radio c-white">
                                    <input type="radio" ng-click="order_mode()" name="type" ng-model="form.type" value="2">
                                    Reserve Oder
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="form.type == 2">   
                        <div class="col-sm-12">
                            <div class="form-group m-form__group">
                                <div class="input-group">
                                    <input autocomplete="off" name="keywords" id="keywords" ng-model="form.keywords" ng-change="searchKeywords()" type="text" class="form-control form-control-lg m-input m-input--solid" placeholder="search or tap your id...">
                                    <div class="input-group-append">
                                        <button id="reset-keywords" ng-click="clearKeywords(yes)" class="btn btn-primary-1" type="button">
                                            <i class="fa fa-reply-all"></i>
                                        </button>
                                    </div>
                                </div>
                                <span class="m-form__help" ng-show="searches.info[0].searches == 'true' && searches.info[0].searches == 'true'">
                                    there is one registered found!
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b-10" ng-show="form.type == 2 && searches.info[0].searches == 'true' && searches.info[0].searches == 'true'">
                        <div class="col-sm-12">
                            <div class="form-group m-b-0">
                                <label class="c-white m-b-0 full-width">
                                    <div class="row">
                                        <span class="col-lg-2">ID: </span>
                                        <strong class="col-lg-10">{{ searches.info[0].stud_no }}</strong>
                                    </div>
                                </label>
                            </div>
                            <div class="form-group m-b-0">
                                <label class="c-white m-b-0 full-width">
                                    <div class="row">
                                        <span class="col-lg-2">NAME: </span>
                                        <strong class="col-lg-10">{{ searches.info[0].fullname }}</strong>
                                    </div>
                                </label>
                            </div>
                            <div class="form-group m-b-15">
                                <label class="c-white m-b-0 full-width">
                                    <div class="row">
                                        <span class="col-lg-2">CREDITS: </span>
                                        <strong class="col-lg-10">{{ searches.info[0].credits }}</strong>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="c-white">
                                <div class="row">
                                    <span class="col-lg-6">
                                        TOTAL AMOUNT
                                    </span>
                                    <span class="col-lg-6 text-right c-gray">
                                        ₱{{ totalPrice }}
                                    </span>
                                </div>
                            </h5>
                            <h5 class="c-white">
                                <div class="row">
                                    <span class="col-lg-6">
                                        AMOUNT PAID
                                    </span>
                                    <span class="col-lg-6 text-right" ng-click="openAmountPaid()">
                                        ₱{{ totalPaid }}
                                    </span>
                                </div>
                            </h5>
                            <h5 class="c-white">
                                <div class="row">
                                    <span class="col-lg-6">
                                        TOTAL CHANGE
                                    </span>
                                    <span class="col-lg-6 text-right">
                                        ₱{{ totalChange }}
                                    </span>
                                </div>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" ng-disabled="validate == false" class="btn btn-primary-1 m-r-10">
                                PROCEED TO CHECKOUT
                            </button>
                            <button ng-click="resetForm()" type="button" class="btn btn-secondary-2" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>