<div class="col-sm-12">
    <div class="m-subheader p-0 m--margin-top-20">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator text-capitalize">
                    All {{ page | capitalize }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Manage
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                    <a href="javascript:;" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                        <i class="la la-plus m--hide"></i>
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first m--hide">
                                            <span class="m-nav__section-text">
                                                Quick Actions
                                            </span>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="#/products/{{ page }}" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text">
                                                    Manage
                                                </span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="#/products/{{ page }}/archived" class="m-nav__link">
                                                <i class="m-nav__link-icon la  la-trash"></i>
                                                <span class="m-nav__link-text">
                                                    Archived
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="m-portlet m-portlet--mobile m--margin-top-20">
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" ng-change="searchDB()" ng-model="searchText" placeholder="Search..." id="generalSearch">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a href="javascript:;" data-toggle="modal" data-target="#add-item-modal" data-backdrop="static" data-keyboard="false" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill theme-bg theme-border">
                            <span>
                                <i class="la la-cart-plus"></i>
                                <span>
                                    Add New Item
                                </span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <table class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Picture</th>
                        <th>Item Description</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Discount</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody class="m-datatable__body">

                    <tr dir-paginate="value in data | itemsPerPage:5 | filter:searchText" total-items="totalItems">
                        <td>{{ value.item_id }} </td>
                        <td>
                            <div class="m-widget3__user-img">
                                <img ng-src="assets/img/{{ value.item_img }}" />
                            </div>
                        </td>
                        <td>{{ value.item_code }} - <strong>{{ value.item_name }}</strong> { {{ value.item_desc }} }</td>
                        <td class="text-center">
                            <i ng-if="value.item_infinite > 0" class="flaticon-infinity"></i>
                            {{ (value.item_infinite > 0) ? '' : (value.item_quantity) ? value.item_quantity : 0 }}
                        </td>
                        <td class="text-center">{{ value.item_price }}</td>
                        <td class="text-center">Yes (10%)</td>
                        <td  class="text-center">
                            <a href="javascript:;" ng-click="edit(value.item_id)" data-toggle="modal" data-target="#edit-item-modal" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                                <i class="la la-edit"></i>                        
                            </a>                        
                            <a href="javascript:;" ng-click="remove(value.item_id, $index)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">                            
                                <i class="la la-trash"></i>                       
                            </a>   
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--end: Datatable -->

            <div class="row">
                <div class="col-sm-6"  style="float:left !important;">
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" direction-links="true"
                    boundary-links="true" template-url="templates/productPagination.html" ></dir-pagination-controls>
                </div>

                <div class="col-sm-6" style="float:left !important;">
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded">
                        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                            <div class="m-datatable__pager-info">
                                <div class="btn-group bootstrap-select m-datatable__pager-size" style="width: 70px;">
                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Select page size">
                                        <span class="filter-option pull-left">5</span>&nbsp;
                                        <span class="bs-caret">
                                            <span class="caret"></span>
                                        </span>
                                    </button>
                                    <div class="dropdown-menu open" role="combobox">
                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                        <li data-original-index="1" class="selected">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                                <span class="text">5</span>
                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                            </a>
                                        </li>
                                        <li data-original-index="2">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                                <span class="text">10</span>
                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                            </a>
                                        </li>
                                        <li data-original-index="3">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                                <span class="text">25</span>
                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                            </a>
                                        </li>
                                        <li data-original-index="4">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                                <span class="text">50</span>
                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                            </a>
                                        </li>
                                        <li data-original-index="5">
                                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                                <span class="text">100</span>
                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                                <span class="m-datatable__pager-detail">
                                    Displaying {{ (pageNumber-1) * itemPerPage +1 }} -
                                    {{(pageNumber*itemPerPage) > totalItems ? totalItems:(pageNumber*itemPerPage)}} 
                                    of {{ totalItems }} records
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="modal fade" id="add-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="POST" name="addItem" role="form" ng-submit="saveAdd(addItem.$valid)">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-new-item-title">
                        Add New Item For (Deals)
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group m-form__group required">
                                <label for="item_code">
                                    Code
                                </label>
                                <input required type="text" class="form-control m-input m-input--solid" id="item_code"
                                 name="item_code" ng-model="form.item_code" aria-describedby="item_code" placeholder="Insert item code here">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group m-form__group required">
                                <label for="item_name">
                                    Name
                                </label>
                                <input required type="text" class="form-control m-input m-input--solid" id="item_name"
                                 name="item_name" ng-model="form.item_name" aria-describedby="item_name" placeholder="Insert item name here">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group required">
                                <label for="item_desc">
                                    Description
                                </label>
                                <textarea required class="form-control m-input m-input--solid" id="item_desc" name="item_desc" ng-model="form.item_desc" rows="3" placeholder="Insert item description here"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group m-form__group m-typeahead">
                                <label for="gl_accounts">
                                    GL Accounts
                                </label>
                                <input required type="text" class="typeahead form-control m-input m-input--solid" id="gl_accounts_id"
                                 name="gl_accounts_id" ng-model="form.gl_accounts_id" aria-describedby="gl_accounts_id" placeholder="Insert item code here">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group m-form__group required">
                                <label for="item_name">
                                    Price
                                </label>
                                <input required type="text" class="form-control m-input m-input--solid" id="item_code"
                                 name="item_price" ng-model="form.item_price" aria-describedby="item_price" placeholder="Insert item name here"  floating-number-only ng-pattern="/(^[0-9]{1,9})+(\.[0-9]{1,4})?$/">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group">
                                <label for="item_desc">
                                    Options
                                </label>
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox m-checkbox--solid">
                                        <input type="checkbox" id="item_new" name="item_new" ng-model="form.item_new">
                                        New Item
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox m-checkbox--solid">
                                        <input type="checkbox" id="item_infinite" name="item_infinite"  ng-model="form.item_infinite">
                                        Infinite Inventory
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox m-checkbox--solid">
                                        <input type="checkbox" id="item_discount" name="item_discount" ng-model="form.item_discount">
                                        Item Discount
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group m-form__group">
                                <label for="item_code">
                                    Inventory Quantity
                                </label>
                                <input ng-required="!form.item_infinite" ng-disabled="form.item_infinite" type="text" class="form-control m-input m-input--solid" id="item_quantity"
                                 name="item_quantity" ng-model="form.item_quantity" aria-describedby="item_quantity" placeholder="Insert inventory quantity here" floating-number-only ng-pattern="/(^[0-9]{1,9})+(\.[0-9]{1,4})?$/">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group m-form__group">
                                <label for="item_code">
                                    Discount Percentage
                                </label>
                                <input ng-disabled="!form.item_discount" type="text" class="form-control m-input m-input--solid" id="item_discount_percentage"
                                 name="item_discount_percentage" numbers-only ng-model="form.item_discount_percentage" aria-describedby="item_discount_percentage" placeholder="Insert discount percentage here">
                            </div>
                        </div>
                    </div>
                    <!--div class="row">
                        <input type="file">
                    </div-->
                    <!--div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Item Image
                                </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">
                                        Choose file
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div-->
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary-1">
                        Save Changes
                    </button>
                    <button type="button" class="btn btn-secondary-2" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="edit-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="POST" name="updateItem" role="form" ng-submit="update(updateItem.$valid)">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-new-item-title">
                        Edit Item (<span class="line_id">{{ form.item_id }}</span>)
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group m-form__group required">
                                <label for="item_code">
                                    Code
                                </label>
                                <input required type="text" class="form-control m-input m-input--solid" id="item_code"
                                 name="item_code" ng-model="form.item_code" aria-describedby="item_code" placeholder="Insert item code here">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group m-form__group required">
                                <label for="item_name">
                                    Name
                                </label>
                                <input required type="text" class="form-control m-input m-input--solid" id="item_name"
                                 name="item_name" ng-model="form.item_name" aria-describedby="item_name" placeholder="Insert item name here">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group required">
                                <label for="item_desc">
                                    Description
                                </label>
                                <textarea required class="form-control m-input m-input--solid" id="item_desc" name="item_desc" ng-model="form.item_desc" rows="3" placeholder="Insert item description here"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group m-form__group m-typeahead">
                                <label for="gl_accounts">
                                    GL Accounts
                                </label>
                                <input required type="text" class="typeahead form-control m-input m-input--solid" id="gl_accounts_id"
                                 name="gl_accounts_id" ng-model="form.gl_accounts_id" aria-describedby="gl_accounts_id" placeholder="Insert item code here">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group m-form__group required">
                                <label for="item_name">
                                    Price
                                </label>
                                <input required type="text" class="form-control m-input m-input--solid" id="item_code"
                                 name="item_price" ng-model="form.item_price" aria-describedby="item_price" placeholder="Insert item name here"  floating-number-only ng-pattern="/(^[0-9]{1,9})+(\.[0-9]{1,4})?$/">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group">
                                <label for="item_desc">
                                    Options
                                </label>
                                <div class="m-checkbox-inline">
                                    <label class="m-checkbox m-checkbox--solid">
                                        <input type="checkbox" id="item_new" name="item_new" ng-model="form.item_new" ng-checked="form.item_new > 0">
                                        New Item
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox m-checkbox--solid">
                                        <input type="checkbox" id="item_infinite" name="item_infinite"  ng-model="form.item_infinite" ng-checked="form.item_infinite > 0">
                                        Infinite Inventory
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox m-checkbox--solid">
                                        <input type="checkbox" id="item_discount" name="item_discount" ng-model="form.item_discount" ng-checked="form.item_discount > 0">
                                        Item Discount
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group m-form__group">
                                <label for="item_code">
                                    Inventory Quantity
                                </label>
                                <input ng-required="!form.item_infinite" ng-disabled="form.item_infinite" type="text" class="form-control m-input m-input--solid" id="item_quantity"
                                 name="item_quantity" ng-model="form.item_quantity" aria-describedby="item_quantity" placeholder="Insert inventory quantity here" floating-number-only ng-pattern="/(^[0-9]{1,9})+(\.[0-9]{1,4})?$/">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group m-form__group">
                                <label for="item_code">
                                    Discount Percentage
                                </label>
                                <input ng-disabled="!form.item_discount" type="text" class="form-control m-input m-input--solid" id="item_discount_percentage"
                                 name="item_discount_percentage" numbers-only ng-model="form.item_discount_percentage" aria-describedby="item_discount_percentage" placeholder="Insert discount percentage here">
                            </div>
                        </div>
                    </div>
                    <!--div class="row">
                        <input type="file">
                    </div-->
                    <!--div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Item Image
                                </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">
                                        Choose file
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div-->
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="updateItem.$invalid" class="btn btn-primary-1">
                        Save Changes
                    </button>
                    <button type="button" class="btn btn-secondary-2" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

